extends layout

block content
	.page-header
		h3 Dashboard
	.row
		.col-sm-2
			img(src="#{user.gravatar()}", class='profile', width='100', height='100')
		.col-sm-10
			br
			br
			| #{user.profile.name || user.email || user.id}&nbsp;
	br
	table.table.table-hover
		h4 Stats
		tr
			td
				| Cars owned:
			td
				!{cars.length}
		tr
			td
				| Most used car:
			td
				!{mostUsedCar}
		tr
			td
				| Maximum speed ever reached:
			td
				!{maximumSpeedReached}
		tr
			td
				| Races played:
			td
				| !{race.length}
		tr
			td
				| Races won:
			td
				| undefined